.title-form{
    color: white;
}
.form-eleve{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-data{
    width: 50%;
    margin: auto;

}
.item-container{
    width: 100%;
}
.form-data label {
    color: white;
}
input  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: black;
    color:#4cd137
  }
  input::placeholder{
    color: #4cd137;
}

.button-submit{
    background-color: #4cd137;
    color: black;
}

  @media screen and (min-width: 500px) {
    .form-data label{
        display: block;
    }
   
  }