.title-form{
    color: white;
    font-family: "cd ", sans-serif;
    font-size: 20px;
}
.form-eleve{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.terminal-form{
    display: none;
}

.form-data{
    width: 50%;
    margin: auto;

}
.item-container{
    width: 100%;
}
.form-data label {
    color: white;
    font-family: "Press Start 2P", sans-serif; 
    font-size: 10px  
}
input  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: black;
    color:#4cd137
  }
  input::placeholder{
    color: #4cd137;
}

.button-submit{
    background-color: #4cd137;
    color: black;
}


  @media screen and (min-width: 500px) {
    .form-data label{
        display: block;
    }
   
    .terminal-form{
        display: block;
        width: 35%;
        margin: 80px;
        word-wrap: break-word;
    }
    .form-eleve{

        width: 65%;
        border-right: 1px solid grey;
    }
    .display-container{
        display: flex;
        justify-content: space-around;
    }
    
  }