.vignette-parent {
    position: relative;
    height: 40vh;
    display: flex;
    width: 100%
}
.vignette-enfant {
    position: relative;
    background-color: black;
    width: 80%;
    margin: 40px auto;
}


.image-container{
    width: 100%;
    padding-bottom: 120%;
    position: relative;
    height: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}
.prev{
    position: absolute;
    left: 10%;
    top: 50%;
    z-index: 1;
    font-size: 100px;
    color: white;
}
.next{
    position: absolute;
    top: 50%;
    right: 10%;
    z-index: 1;
    font-size: 100px;
    color: white;

}
.description {

    width: 100%;

    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.description p {
    margin: 0;
}

.terminal{
    width: 0%;
    display: none;
}

@media screen and (min-width: 500px) {
    .vignette-enfant {
      width: 45%;
      padding-bottom: 0;
    }
    .vignette-parent {
        height: 60vh;
        margin:  0 20px;
        justify-content: space-around;
        width: 65%;
      }
      .container-display{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    .terminal{
        width: 30%;
        margin: 15px;
        display: block;
    }
    .prev{
        top: 30%;
        left: 4%;

    }
    .next{
        top: 30%;
        right:4%;
    }
  }
  @media screen and (min-width: 900px) {
    .vignette-enfant {
        width: 30%
}
  }